<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        
     
    </style>
</head>
<body>
    <footer class="footer py-5 mt-4">
        <div class="container">
            <div class="row row-cols-5">
                <div class="col">
                    <h5 style="color:white;">Section</h5>
                   
                      <a href="#" class="nav-link-footer">Home</a></li>
                      <a href="#" class="nav-link-footer">Features</a></li>
                      <a href="#" class="nav-link-footer">Pricing</a></li>
                      <a href="#" class="nav-link-footer">FAQs</a></li>
                      <a href="#" class="nav-link-footer">About</a></li>
                </div>
            </div>
        </div>
    </footer>
    <p class="text-muted text-center">© 2021 All Rights Reserved</p>

    <!-- Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
