{% include 'header.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        
    </style>
</head>
<body>
    <div style="padding-top: 60px; padding-bottom: 10px;">
        <img src="https://s.yimg.com/ny/api/res/1.2/WI.qdtBF7orSciWmyNL3mQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD02NzU-/https://media.zenfs.com/en/bgr_208/2a3a23b6e253404d3530070fa7355a4a" style="width: 100%; height: 650px;">
    </div>
    
    <!-- Container for cards -->
   <div class="container">
  <div class="row">
    <!-- First Card -->
    <div class="column" >
      <div class="card" style="padding-rigth: 50px;">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Rp. 12.000</p>
          <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Card -->
    <div class="column">
      <div class="card">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Rp. 12.000</p>
          <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- Third Card -->
    <div class="column">
      <div class="card">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Rp. 12.000</p>
          <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- Fourth Card -->
    <div class="column">
      <div class="card">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Rp. 12.000</p>
          <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
      </div>
    </div>
            <div class="column">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Rp. 12.000</p>
                        <div class="star-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
</body>
</html>

{% include 'footer.html' %}